<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :nickname %> <em>(6 characters maximum)</em><br />
    <%= f.text_field :nickname, autofocus: true %>
  </div>

  <div class="filed">
    <%= f.label :district %> <br />
    <%= f.select :district, 
    [["足立区","足立区"],
     ["荒川区","荒川区"],
     ["板橋区","板橋区"],
     ["江戸川区","江戸川区"],
     ["大田区","大田区"],
     ["葛飾区","葛飾区"],
     ["北区","北区"],
     ["江東区","江東区"],
     ["品川区","品川区"],
     ["渋谷区","渋谷区"],
     ["新宿区","新宿区"],
     ["杉並区","杉並区"],
     ["墨田区","墨田区"],
     ["世田谷区","世田谷区"],
     ["台東区","台東区"],
     ["千代田区","千代田区"],
     ["中央区","中央区"],
     ["豊島区","豊島区"],
     ["中野区","中野区"],
     ["練馬区","練馬区"],
     ["文京区","文京区"],
     ["港区","港区"],
     ["目黒区","目黒区"],]%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
