<div class="content">
  <div class="image--content">
    <div class="image--content__title">
      <h1>community reprotへようこそ</h1>
      <p>community reprotは安否確認サービスです。</p>
      <p>皆様の健康と安全をサポートします。</p>
      <br/>
      <br/>
    </div>
    <div class="image--content__select"> 
      <% if user_signed_in? %>
        <%= link_to 'メッセージへ',user_path(current_user.id), class: "follow"%>
        <%= link_to '登録した地域へ', group_path(current_user.id), class: "district"%>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <%= link_to '安否を送信する', "#", class: "safety"%>
        <%= link_to '区の現状を送信する', "#", class: "reprot"%>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <%= link_to '23区の現状を確認する', "#", class: "reprot-index"%>
      <% else %>
        <p>新規登録またはログインをお願いします</p>
      <% end %>
    </div>
  </div>
</div>