<div class="community">
<% @community = Community.new unless @community %>
<%= form_for @community do |f| %>
  <div class="filed--district">
    <%= f.label :区を選択してください %> <br />
    <%= f.select :district, 
    [["足立区","足立区"],
     ["荒川区","荒川区"],
     ["板橋区","板橋区"],
     ["江戸川区","江戸川区"],
     ["大田区","大田区"],
     ["葛飾区","葛飾区"],
     ["北区","北区"],
     ["江東区","江東区"],
     ["品川区","品川区"],
     ["渋谷区","渋谷区"],
     ["新宿区","新宿区"],
     ["杉並区","杉並区"],
     ["墨田区","墨田区"],
     ["世田谷区","世田谷区"],
     ["台東区","台東区"],
     ["千代田区","千代田区"],
     ["中央区","中央区"],
     ["豊島区","豊島区"],
     ["中野区","中野区"],
     ["練馬区","練馬区"],
     ["文京区","文京区"],
     ["港区","港区"],
     ["目黒区","目黒区"],]%>
  </div>
  <div class="filed--ancestry">
    <%= f.label :不足している資源を選択してください %> <br />
    <%= f.select :ancestry, 
    [["水","水"],
     ["米やパン","米やパン"],
     ["おかず","おかず"],
     ["日用品","日用品"],
     ["電気や電池","電気や電池"],
     ["毛布","毛布"],
     ["タオル","タオル"],
     ["衣類","衣類"],
     ["下着","下着"],] %>
  </div>
  <div class="filed--volunter">
  <%= f.label :ボランティアは有無を選択してください %><br/>
  <%= f.select :volunter,
    [["必要だと思う","必要だと思う"],
     ["必要でない","必要でない"],] %>
  </div>
  <%= f.submit "登録", class:"community-button" %>
</div>
<% end %>
</div>