<!DOCTYPE html>
<html>
  <head>
    <title>CommunityReprot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__title">
        <%= link_to "CommunityReport", root_path, class: "header__title--text" %>
        <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__title--session"%>
        <div class="header__title--edit">
          <i class="fas fa-edit"></i>
        <%= link_to users_path(@user) do %>
          <i class="fas fa-user-plus"></i>
        <% end %>
        </div>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path, class: "header__title--session" %>
          <%= link_to "ログイン", new_user_session_path, class: "header__title--session" %> 
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
